

    <html>
        <head>
            <title>Predmet</title>
            <link rel="stylesheet" href="../style/style.css">
            <style>
                * {
                  box-sizing: border-box;
                }
                
                #myInput {
                  background-color: transparent;
                  background-position: 10px 10px;
                  background-repeat: no-repeat;
                  width: 100%;
                  font-size: 16px;
                  padding: 12px 20px 12px 40px;
                  border:none;
                  color: white;
                  margin-bottom: 12px;
                }
                
                #myTable {
                  border-collapse: collapse;
                  width: 100%;
                  border: 2px solid #72b88f;
                  font-size: 18px;
                  color: white;
                }
                
                #myTable th, #myTable td {
                  text-align: left;
                  padding: 12px;
                }
                
                #myTable tr {
                  border-bottom: 2px solid #72b88f;
                }
                
                #myTable tr.header, #myTable tr:hover {
                background-color: #72b88f;
                }
                </style>
        </head>
        
                <body id="body">
                    <div class="wrapper" id="wrapper">
                        <div class="navbar">
                            <img src="../media/user.svg" alt="avatar" class="avatar">
                            <img>
                            <img src="media/support.svg" class="settingsicon" alt="settings" >
                           <button id="settingsbtn" class="settings" onclick="showsettings()">
                                
                                </button>
                            
                           
                            
                            
                                <a href="/home"><p class="ime">Admin </p></a>
                           
                        </div>
                        <div id="settings">
                            <ul>
                            
                                <li><a href="">
                                    <img src="../media/grid.svg" alt="home" class="homedropico">Home
                                    
                                    </a>
                                </li>
                                <hr>
                                <li>
                                    <a href="/settings">
                                    <img src="../media/settingsicoblack.svg" alt="settings" class="settingsdropico" >Settings
                                    </a>
                                
                                
                                </li>
                                <hr>
                                <li>
                                    
                                    <form action="/logout?_method=DELETE" method="POST">
                                        <button type="submit" class="logout">
                                            <img src="../media/logout.svg" alt="logout" class="logouticon"> Log out
                                        </button>
                                    </form>
                                    
                                
                                
                                
                                </li>
                                <hr>
                            </ul>
                            
                            </div>
                        <div class="main" id="main">
                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

                      <table id="myTable" border="1">
                          <tr class="header">
                              <th>Predmet</th>
                              <th> Smjer</th>
                              <th>
                                Razared
                              </th>
                              <th>
                                  Broj modula
                              </th>
                              <th>Opis</th>
                              <th>
                                  Obrisi
                              </th>
                          </tr>
                            <%predmeti.forEach(p=>{%>
<tr>
<td>

<%=p.ime%>
</td>
<td>
    <%=p.smjer%>
</td>
<td>
    <%=p.razred%>
</td>
<td>
    <%=p.brojModula%>
</td>
<td>
    <%=p.opis%>
</td>
<td>

    <form action="/predmeti" onclick="this.form.submit();">
<button class="deletebtn" value="<%= p._id %>" name="del">Delete</button>

    </form>


</td>

</tr>
                                    
                           <% })%>


                      </table>     
                           
                           
                           
                           
                           
                           
                           
                           
                           
                           
                           
                           
                            
                           <form action="/predmeti" >

                            <button class="btn" type="submit" name="action" value="dodaj">dodaj</button>
                            
                        </form>
                        
                        </div>
                    </div>
                    <script>
                    function showsettings(){
                   
                    var settings = document.getElementById("settings");
                var body=document.getElementById("body");
                    var settingsbtn=document.getElementById("settingsbtn");
                        var main=document.getElementById("main");
                  if(settings.style.display=="block"){
                      
                          settings.style.display = "none";
                
                  }else{
                      
                          settings.style.display="block";
                
                  }
                
                    window.onclick = function(event) {
                    if (event.target == settings ||event.target == body  ||event.target == main ) {
                    settings.style.display = "none";
                    
                    
                        }
                    }
                }
                    
                function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
                    </script>
                </body>
                    
                
                </html>
        
        
























   