<table >
    
       <tr>
         <td><%= ocjene.ime %></td>
       </tr>
       <tr>         
           <td><%= ocjene.prezime %></td>
       </tr>
       <tr>
           <td><%=ocjene.matematika%></td>
           <td><%=ocjene.matematika.modul1%></td>
           <td><%=ocjene.matematika.modul2%></td>
           <td><%=ocjene.matematika.modul3%></td>


       </tr>
    </table>