

  <html>
    <head>
        <title><%= ime %> <%= prezime %></title>
        <link rel="stylesheet" href="../style/style.css">
    </head>
    
            <body id="body">
                <div class="wrapper" id="wrapper">
                    <div class="navbar">
                        <img src="../media/user.svg" alt="avatar" class="avatar">
                        <img>
                        <img src="media/support.svg" class="settingsicon" alt="settings" >
                       <button id="settingsbtn" class="settings" onclick="showsettings()">
                            
                            </button>
                        
                       
                        
                        
                            <a href="/home"><p class="ime"><%= ime %> <%= prezime %> </p></a>
                       
                    </div>
                    <div id="settings">
                        <ul>
                        
                            <li><a href="">
                                <img src="../media/grid.svg" alt="home" class="homedropico">Home
                                
                                </a>
                            </li>
                            <hr>
                            <li>
                                <a href="/settings">
                                <img src="../media/settingsicoblack.svg" alt="settings" class="settingsdropico" >Settingts
                                </a>
                            
                            
                            </li>
                            <hr>
                            <li>
                                
                                <form action="/logout?_method=DELETE" method="POST">
                                    <button type="submit" class="logout">
                                        <img src="../media/logout.svg" alt="logout" class="logouticon"> Log out
                                    </button>
                                </form>
                                
                            
                            
                            
                            </li>
                            <hr>
                        </ul>
                        
                        </div>
                    <div class="main" id="main">
                        <p align="center"> <table class="tabela" border="1">
            <tr><td colspan="100%"><%= predmet.ime %> </td></tr> 
           <tr>
            <%for(var i=1;i<=predmet.brojModula;i++){%>

<td colspan="1">
modul <%= i %> 
</td>


            <%} %> 
            </tr>
            <tr>
                <%for(var i=1;i<=predmet.brojModula;i++){%>

                  
                     <td>
                    <%ocjene.forEach(o=>{%>
 
               <%if(o.modul==i){%>
              
                    <button onclick="show('<%=JSON.stringify(o)%>')"><%= o.ocjena %> </button><br>

               <%} %> 
                
                        <%}) %> 
                    
                </td>
                    
                                <%} %> 
               

            </tr>
            <tr>
              <%for(var i=1;i<=predmet.brojModula;i++){%>

                  
                <td>


                  
                </td>
                
 
               
           </td>
               
                           <%} %> 

            </tr>
            
        </table>  
        </p>     
  


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div id="modal-content" class="modal-content">
    
    
  </div>
</div>

                      


                    </div>
                </div>
                <script>
                function showsettings(){
               
                var settings = document.getElementById("settings");
            var body=document.getElementById("body");
                var settingsbtn=document.getElementById("settingsbtn");
                    var main=document.getElementById("main");
              if(settings.style.display=="block"){
                  
                      settings.style.display = "none";
            
              }else{
                  
                      settings.style.display="block";
            
              }
            
                window.onclick = function(event) {
                if (event.target == settings ||event.target == body  ||event.target == main ) {
                settings.style.display = "none";
                
                
                    }
                }
            }
                
            function show (o){
    var x=JSON.parse(o)
    var modal = document.getElementById("myModal");
    
    var ocjena=document.getElementById('modal-content')
    modal.style.display="block";
  
    ocjena.innerHTML=
    
    
    "<p>"+x.ocjena+"<br>"+x.datum+"<br>"+
    x.profesor+"<br>"+
    x.opis+"<br>"+"</p>"

     
    window.onclick = function(event) {
    if (event.target == modal) {
    modal.style.display = "none";
    }
  }



}    
                </script>
            </body>
                
            
            </html>
    
    







































