

  <html>
    <head>
        <title><%= ime %> <%= prezime %></title>
        <link rel="stylesheet" href="../style/style.css">
    </head>
    
            <body id="body">
                <div class="wrapper" id="wrapper">
                    <div class="navbar">
                        <img src="../media/user.svg" alt="avatar" class="avatar">
                        <img>
                        <img src="media/support.svg" class="settingsicon" alt="settings" >
                       <button id="settingsbtn" class="settings" onclick="showsettings()">
                            
                            </button>
                        
                       
                        
                        
                            <a href="/home"><p class="ime"><%= ime %> <%= prezime %> </p></a>
                       
                    </div>
                    <div id="settings">
                        <ul>
                        
                            <li><a href="">
                                <img src="../media/grid.svg" alt="home" class="homedropico">Home
                                
                                </a>
                            </li>
                            <hr>
                            <li>
                                <a href="/settings">
                                <img src="../media/settingsicoblack.svg" alt="settings" class="settingsdropico" >Settingts
                                </a>
                            
                            
                            </li>
                            <hr>
                            <li>
                                
                                <form action="/logout?_method=DELETE" method="POST">
                                    <button type="submit" class="logout">
                                        <img src="../media/logout.svg" alt="logout" class="logouticon"> Log out
                                    </button>
                                </form>
                                
                            
                            
                            
                            </li>
                            <hr>
                        </ul>
                        
                        </div>
                    <div class="main" id="main">
                        <p align="center"> <table class="tabela" border="1">
            <tr><td colspan="100%"><%= predmet.ime %> </td></tr> 
           <tr>
            <%for(var i=1;i<=predmet.brojModula;i++){%>

<td colspan="1">
modul <%= i %> 
</td>


            <%} %> 
            </tr>
            <tr>
                <%for(var i=1;i<=predmet.brojModula;i++){%>

                  
                     <td>
                    <%ocjene.forEach(o=>{%>
 
               <%if(o.modul==i){%>
              
                    <button onclick="show('<%=JSON.stringify(o)%>')"><%= o.ocjena %> </button><br>

               <%} %> 
                
                        <%}) %> 
                    
                </td>
                    
                                <%} %> 
               

            </tr>
            <tr>
                <%for(var i=1;i<=predmet.brojModula;i++){%>

                  
                    <td>
                        <% var modul=0%> 
                        <% var modulbr=0%> 
                        <% var pismena=0%> 
                        <% var pismenabr=0%> 

                        <%var usmena=0%> 
                        <%var usmenabr=0%> 

                        <%var aktivnost=0%> 
                        <%var aktivnostbr=0%> 

                        <%var esej=0%> 
                        <%var esejbr=0%> 

                        <%var vjezba=0 %> 
                        <%var vjezbabr=0%> 

                        <% var konacno=0 %> 
                        <%ocjene.forEach(o=>{%>


                        <% var konacno=0 %> 
                            <%if(o.modul==i){%>
                           
<% if(o.opis==="Pismena provjera"){ %>
     <%pismena=pismena+Number(o.ocjena) %> 
     <%  pismenabr=pismenabr+1%>  
     <%} %> 
     <% if(o.opis==="Usmena provjera"){ %>
        <%usmena=usmena+Number(o.ocjena) %>
        <% usmenabr=usmenabr+1%> 
  
        <%} %> 
        <% if(o.opis==="Esej"){ %>
            <%esej=esej+Number(o.ocjena) %>
            <% esejbr=esejbr+1%> 
  
            <%} %> 
            <% if(o.opis==="Aktivnost"){ %>
                <%aktivnost=aktivnost+Number(o.ocjena) %>  
                <% aktivnostbr=aktivnostbr+1%> 

                <%} %> 
                <% if(o.opis==="Vjezba"){ %>
                    <%vjezba=vjezba+Number(o.ocjena) %>
                    <%vjezbabr=vjezbabr+1%> 
  
                    <%} %> 
                    <% if(o.opis==="Test modula"){ %>
                        <%modul=modul+Number(o.ocjena) %>  
                        <% modulbr=modulbr+1%> 
                        <%} %> 
                               

                            <%} %> 
                             
               <%}) %> 
             

                    <%if(pismenabr!=0 ){%>
                        <%pismena=(pismena/pismenabr)*predmet.procenti.pismenaProvjera/100 %> 


                    <%}%> 
                    <%if(usmenabr!=0 ){%>
                        <%usmena=(usmena/usmenabr)*predmet.procenti.usmenaprovjera/100 %> 


                    <%}%> 
                    <%if(esejbr!=0 ){%>
                        <%esej=(esej/esejbr)*predmet.procenti.esej/100 %> 


                    <%}%> 
                    <%if(aktivnost!=0 ){%>
                        <%aktivnost=(aktivnost/aktivnostbr)*predmet.procenti.aktivnost/100 %> 


                    <%}%> 
                    <%if(vjezbabr!=0 ){%>
                        <%vjezba=(vjezba/vjezbabr)*predmet.procenti.vjezba/100 %> 


                    <%}%> 
                    <%if(modulbr!=0 ){%>
                        <%modul=(modul/modulbr)*predmet.procenti.testModula/100 %> 


                    <%}%> 
                    
               <%= konacno=pismena+usmena+esej+aktivnost+vjezba+modul%> 
                           
                      
                    </td>
                    
     
                   
              
                   
                               <%} %> 

            </tr>
            
        </table>  
        </p>     
  
  


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div id="modal-content" class="modal-content">
    
    
  </div>
</div>

                      


                    </div>
                </div>
                <script>
                function showsettings(){
               
                var settings = document.getElementById("settings");
            var body=document.getElementById("body");
                var settingsbtn=document.getElementById("settingsbtn");
                    var main=document.getElementById("main");
              if(settings.style.display=="block"){
                  
                      settings.style.display = "none";
            
              }else{
                  
                      settings.style.display="block";
            
              }
            
                window.onclick = function(event) {
                if (event.target == settings ||event.target == body  ||event.target == main ) {
                settings.style.display = "none";
                
                
                    }
                }
            }
                
            function show (o){
    var x=JSON.parse(o)
    var modal = document.getElementById("myModal");
    
    var ocjena=document.getElementById('modal-content')
    modal.style.display="block";
  
    ocjena.innerHTML=
    "<table class=ocjenatable >"+
"<tr>"+
"<td rowspan=2 style=font-size:130px;>"+x.ocjena+"</td>"+
"<td style=text-align:start;font-size:50px; >"+x.profesor+"</td>"+
"<td rowspan=2 style=width:40%;font-size:50px; >"+ x.opis+"</td></tr>"+

"<tr><td style=text-align:left;font-size:30px; >"+x.datum+"</td></tr></table>"
       
    
    
   

     
    window.onclick = function(event) {
    if (event.target == modal) {
    modal.style.display = "none";
    }
  }



}    
                </script>
            </body>
                
            
            </html>
    
    







































